.upperBox{
    background-color: rgb(69, 68, 68);
    gap: 30px;
    padding: 1rem;
    display: flex;
    width: 60%;
    position: relative;
    border-radius: 5px;
    margin-bottom: 50px;
}

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38%;
    /* align-items: center; */
}
.subButton{
    height: 40%;
    color: white;
    background-color: orange;
}

.buttonHolder{
margin: auto;
display: flex;
justify-content: center;

}

.inputBox{
    border: 1px solid orange;
}