.backGround {
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  color: rgb(239, 232, 231);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigHeading {
  font-size: 2rem;
  backdrop-filter: blur(50px);
}
